#main-app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#chat-log {
    list-style: inside;
    flex: 1;
    overflow-y: scroll;
    padding-left: 0;
}

#chat-log > li {
    display: block;
}

#chat-submit {
    margin-bottom: 2em;
}
